<ul class="nav nav-tabs mb-5 mt-4">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="'/'">kudryashova0959</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="'/'" [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }">Информационная страница</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="'/purchases'" [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }">
      Список покупок
    </a>
  </li>
</ul>
